{% load static %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <img src="{% static 'images/icon.ico' %}" alt="">
  <a class="navbar-brand" href="/">Calories Calculator</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/add_food">Add Daily Food (Calories) </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Graphical Report</a>
        </li>
      </ul>
      
    </div>
    <span class="nav-item active">Hello, {{request.user}}</span>
    <span class="nav-item active"><a href="{% url 'logoutUser' %}">Logout</a></span>
    
  </nav>